.background {
    width: 100vw;
    height: 100vh;
}

.question {
    padding-top: 40px;
    padding-bottom: 5px;
    font-size: 14px;
    opacity: 0.9;

}

.linkTryLoggingIn {
    font-size: 18px;
    padding-bottom: 20px;
}

.titleEnterMail {
    margin-top: 30px;
    font-size: 16px;
    padding-bottom: 40px;
    opacity: 0.9;
}

.title{
    margin-bottom: 10px;
    font-weight: normal;
    font-size: 22px;
}

.error {
    font-size: 16px;
    color: red;
    opacity: 0.8;
    padding-bottom: 5px;
}

br {
    font-size: 16px;
}

.paper {
    margin: 40px;
    padding: 25px;
    width: 300px;
}

.active{
    color:gold;
}